@define-color bg #0F0F17;
@define-color fg #A1BDCE;
@define-color border #2b2b2b;
@define-color peach #e0b994;
@define-color red #EB8486;
@define-color orange #EE9F55;
@define-color yellow #F8EE7A;
@define-color green #64DC98;
@define-color blue #6D92E9;

* {
    font-weight: bold;
    color: @fg;
}

window#waybar {
    background: transparent;
    border: none;
}

window#waybar > box {
    background: @bg;
    border: 3px solid @border;
    border-radius: 10px;

    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

window#waybar.solo > box {
    border: 3px solid transparent;
    border-top: 3px solid @border;
    border-radius: 0;

    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

#custom-spacer {
    /*manual adjustment because font icons are a little scuffed*/
    padding-left: 4px;
    color: @border;
}

/*todo */
/* tooltip {
    font-size: 13px;
    border-radius: 7px;
    border: 2px solid @border;
} */

/* right */
#clock {
    font-weight: 900;
    padding-right: 10px;
}

#clock,
#network,
/*#custom-vpn,*/
#pulseaudio,
#cpu,
#memory,
#custom-keybinds {
    padding-left: 10px;
    padding-right: 10px;
}

/* put this closer to network */
#custom-vpn {
    padding-left: 10px;
}

#network.ethernet,
#network.wifi,
#custom-vpn.connected {
    color: @green;
}

#network.disconnected,
#network.disabled,
#custom-vpn.disconnected {
    color: @red;
}

#pulseaudio {
    color: @blue;
}

#cpu {
    color: @yellow;
}

#memory {
    color: @orange;
}

#custom-keybinds {
    color: @peach;
}

#tray {
    padding-left: 5px;
    padding-right: 5px;
    background-color: @border;
    margin: 3px;
    border-radius: 10px;
}
/*todo */
/*#tray menu * {
    min-height: 16px;
    background: @bg;
}
#tray menu separator {
    background: @border;
    min-height: 1px;
}*/

/* left side  */
#workspaces {
    box-shadow: none;
    text-shadow: none;
    transition: 0.2s ease;
    padding-left: 5px;
    padding-right: 5px;
}

#workspaces button {
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
    border-radius: 10px;
}

#workspaces button.focused {
    background-color: @border;
}

button {
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
    text-shadow: none;
    transition: none;
    border: none;
}

button:hover {
    background: none;
    text-shadow: none;
    box-shadow: none;
    transition: none;
    border: none;
}

button:hover * {
    box-shadow: none;
    -gtk-icon-shadow: none;
}

button:hover label {
    color: @red;
}
