spawn-at-startup "sh" "-c" "swaybg -i $(ls ~/pics/wallpapers/* | shuf -n1) -m fill"
spawn-at-startup "foot" "--server"
// spawn-at-startup "ironbar"

screenshot-path "~/pics/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// main, 2560x1440@280
output "DP-3" {
    mode "2560x1440@280"
    position x=1920 y=0
    scale 1.333333
    // vrr is not working for me and im not troubleshooting ts
}

// 1920x1080
output "DP-2" {
    position x=0 y=0
    focus-at-startup
}

output "Samsung Electric Company S24C650 Unknown" {
    position x=3840 y=-840
    transform "90"
}

// makes background remain still in overview
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 20
}

input {
    keyboard {
        numlock
        xkb {
            layout "no"
            variant "nodeadkeys"
            options "caps:escape"
        }
    }

    mouse {
        accel-profile "flat"
    }
    // focus-follows-mouse //max-scroll-amount="10%"
    // warp-mouse-to-focus

    touchpad {
        tap
        natural-scroll
        accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    workspace-auto-back-and-forth // return to prev workspace by clicking own workspace bind
}

overview {
    workspace-shadow {
        off
    }
}

clipboard {
    disable-primary
}

// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    gaps 20
    background-color "transparent"
    center-focused-column "never"

    //  for Mod+R (switch-preset-column-width)
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        // proportion 1.0
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 4
        inactive-color "#505050"
        active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        urgent-color "#9b0000"
    }

    // always visible focus ring, like sway
    border {
        off
    }

    shadow {
        off
        offset x=5 y=5
        softness 20 // blur radius
        spread 10 // expands shadow
        color "#0008"
    }

    tab-indicator {
        gap 6
        width 6
        length total-proportion=0.9
        gaps-between-tabs 6
        corner-radius 8
    }
}

hotkey-overlay {
    // disable the goofy popup
    skip-at-startup
}

prefer-no-csd // client side decorations >:(

animations {
    off
    // values below 1 speed up anims
    // slowdown 0.75
}

// rounded corners for everything
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

// windows to open floatingly
window-rule {
    match title="Friends List" // steam
    open-floating true
}

// no focus steal on steam
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=0 y=0 relative-to="bottom-right"
    open-focused false
}

// Use 'wev' to find XKB key names
binds {
    Mod+T            { spawn "footclient"; }
    Mod+Shift+T      { spawn "footclient"; }
    Mod+Return       { spawn "footclient"; }
    Mod+Shift+Return { spawn "footclient"; }
    Mod+D            { spawn "tofi-drun" "--drun-launch=true"; }
    // Mod+B      { spawn "browser"; }
    // Mod+E      { spawn "file manager?"; }
    // Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    // zoomed-out view of workspaces and windows.
    // or do a four-finger swipe up on a touchpad.
    Mod+O repeat=false { toggle-overview; }

    Mod+Shift+W repeat=false { close-window; }

    // Move focus
    //   I
    // J K L
    Mod+I     { focus-window-or-workspace-up; }
    Mod+J     { focus-column-or-monitor-left; }
    Mod+K     { focus-window-or-workspace-down; }
    Mod+L     { focus-column-or-monitor-right; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Left  { focus-column-or-monitor-left;}
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Right { focus-column-or-monitor-right; }

    // Move window
    // Shift + IJKL
    Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Left  { move-column-left-or-to-monitor-left; }
    Mod+Shift+Down  { move-window-down-or-to-workspace-down; }
    Mod+Shift+Right { move-column-right-or-to-monitor-right; }
    Mod+Shift+I     { move-window-up-or-to-workspace-up; }
    Mod+Shift+J     { move-column-left-or-to-monitor-left; }
    Mod+Shift+K     { move-window-down-or-to-workspace-down; }
    Mod+Shift+L     { move-column-right-or-to-monitor-right; }

    // Move focus or move window to start or end
    // H J K L Ø
    // ^       ^
    Mod+H { focus-column-first; }
    Mod+oslash  { focus-column-last; } // Ø
    Mod+Shift+H { move-column-to-first; }
    Mod+Shift+oslash  { move-column-to-last; }

    // move windows around BUT they merge into columns
    Mod+Comma  { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    // Move monitor focus
    // Ctrl + IJKL
    Mod+Ctrl+I     { focus-monitor-up; }
    Mod+Ctrl+J     { focus-monitor-left; }
    Mod+Ctrl+K     { focus-monitor-down; }
    Mod+Ctrl+L     { focus-monitor-right; }
    Mod+Ctrl+Up    { focus-monitor-up; }
    Mod+Ctrl+Left  { focus-monitor-left; }
    Mod+Ctrl+Down  { focus-monitor-down; }
    Mod+Ctrl+Right { focus-monitor-right; }

    // Move whole workspaces
    // Ctrl + Shift + IJKL
    Mod+Shift+Ctrl+I   { move-workspace-up; }
    Mod+Shift+Ctrl+J   { move-workspace-to-monitor-left; }
    Mod+Shift+Ctrl+K   { move-workspace-down; }
    Mod+Shift+Ctrl+L   { move-workspace-to-monitor-right; }

    // scroll wheel control
    Mod+WheelScrollUp         { focus-column-left; }
    Mod+WheelScrollDown       { focus-column-right; }
    Mod+Shift+WheelScrollUp   { move-column-left; }
    Mod+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+WheelScrollUp         cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown       cooldown-ms=150 { focus-workspace-down; }
    Mod+Ctrl+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+Ctrl+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // these are mid
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }

    // why do we have 4 different fullscreen binds
    Mod+F { fullscreen-window; }
    Mod+Shift+F { maximize-column; }

    // expands to fill without any gaps
    Mod+M { maximize-window-to-edges; }

    // fill empty space
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+N { center-column; }
    Mod+Ctrl+N { center-visible-columns; }

    // Finer width adjustments.
    Mod+Minus { set-column-width "-20%"; }
    Mod+Plus  { set-column-width "+20%"; }
    Mod+Shift+Minus { set-column-width "-5%"; }
    Mod+Shift+Plus  { set-column-width "+5%"; }

    // Floating mode
    Mod+Shift+Space { toggle-window-floating; }
    Mod+Space { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Mod+Print { screenshot-screen; }
    Mod+Shift+Print { screenshot-window; }

    // help
    // shows a list of important hotkeys.
    Mod+Shift+period { show-hotkey-overlay; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
}

gestures {
    hot-corners {
        off
    }
}
