@define-color bg #0d0d0d;
@define-color border #2e2e2e;
@define-color active #313131;
@define-color fg #aaa;
@define-color gradient-start #6ab0f5;
@define-color gradient-end #e5989b;
@define-color actual_fg #d5c4a1;

* {
    font-size: 16px;
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    color: @actual_fg;

    /*reset */
    border-radius: 0;
    background: none;
    padding: 0;
    margin: 0;
    min-height: 0;
}

.popup {
    background: @bg;
    border: 3px solid @border;
    border-radius: 12px;
    padding: 4px;
}

#separator {
    color: @border;
    font-size: 18px;
    padding: 0 8px;
}

#bar {
    background-color: @bg;
    border: 3px solid @border;
    border-radius: 12px;
    padding: 4px 12px;
}

/* LEFT SIDE */
#leftmost-icon {
    font-size: 26px;
    padding-right: 12px;
    line-height: 0.5;
}

.workspace {
    background: @border;
    border-radius: 10px;
    padding: 1px 4px;
    margin: 0 4px;
    border: 2px solid @border;
    line-height: 0.5;
}

.workspace.focused {
    background:
        linear-gradient(@border, @border) padding-box,
        linear-gradient(to top right, @gradient-start, @gradient-end) border-box;
    border: 2px solid transparent;
}

.workspace-name {
    padding: 0 4px;
}

/*.window {
    background: indigo;
}*/

.window-icon {
    padding: 0 3px;
}

.window.focused {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.9))
        drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
}

/* RIGHT SIDE */
.clock {
    font-weight: bold;
}

.tray {
    padding: 4px 3px;
    background-color: @border;
    margin: 1px 10px;
    border-radius: 10px;
}

.tray .item {
    padding: 0 3px;
}

/*network */
.network_manager {
    padding-right: 10px;
}

.network_manager .icon {
    font-size: 18px;
}

.network_manager.profile-wired_connected .icon {
    color: #a8e6cf;
}

/*volume */

.volume .source.muted {
    color: red;
}

slider {
    min-width: 150px;
    min-height: 10px;
}

trough {
    min-height: 4px;
    background: #444;
    border-radius: 4px;
}

highlight {
    background: #6ab0f5;
    border-radius: 4px;
}

dropdown {
    background: @bg;
    border-radius: 6px;
    padding: 2px 6px;
}

dropdown button {
    background: transparent;
    border: none;
}

listview {
    background: @bg;
}

listview row {
    padding: 4px 8px;
    border-radius: 4px;
}

listview row:hover {
    background: @hover;
}
