@define-color fg #A1BDCE;
@define-color bg #0F0F17;
@define-color border rgba(255, 255, 255, 0.1);

* {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold;
    font-size: 15px;
    color: @fg;
}

window#waybar {
    background: @bg;
    border: 3px solid @border;
    border-radius: 10px;
}

/* tooltip {
    font-size: 13px;
    border-radius: 7px;
    border: 2px solid @border;
} */


/* right side  */
#clock {
    font-size: 15px;
    font-weight: 900;
    background: rgba(23, 23, 23, 0.0);
    opacity: 1;
    margin: 3px 0px 0px 0px;
    /* padding-left: 10px; */
    padding-right: 10px;
    border: none;
}

#custom-spacer {
    color: @border;
    padding-left: 5px;
    padding-right: 5px;
}

#cpu {
    color: #915CAF;
}

#memory {
    color: #e0b994;
}

#pulseaudio {
    color: #6F8FDB;
}

/* todo  */
#tray menu * {
    min-height: 16px;
    font-weight: bold;
    font-size: 13px;
    background: @bg;
}

#tray menu separator {
    background: @border;
    min-height: 1px;
}



/* left side  */
#workspaces {
    font-size: 20px;
    box-shadow: none;
    text-shadow: none;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
}

#taskbar button.active label {
    color: #ffffff;
}

/* button {
    border: 3px solid @border;
    background: @border;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
    box-shadow: none;
    text-shadow: none;
    transition: none;
}
 */






/* #network {
    font-weight: normal;
    font-size: 19px;
    padding-right: 0px;
    padding-left: 4px
}

#custom-spotify,
#taskbar,
#custom-theme,
#custom-menu {
    color: #E8EDF0;
    background: rgba(23, 23, 23, 0.0);
    margin: 0px 0px 0px 0px;
    padding-left: 1px;
    padding-right: 1px;
    opacity: 0.1
}

#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#cava,
#upower#headset,
#upower {
    color: #a6d189;
}

#mpris {
    font-size: 15px;
    font-weight: bold
}

#custom-rr_end {
    font-weight: normal;
    color: #E8EDF0;
    background: rgba(23, 23, 23, 0.0);
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding-left: 4px;
    padding-right: 4px;
    ;

}


#taskbar {
    padding: 1px;
} */